<!DOCTYPE html>
<html>
  <head>
    <title>Index</title>
    <meta name="viewport" content="initial-scale=1, width=device-width" />
  </head>
  <body>
    <div id="root">
      Content not loaded.
      <noscript>JavaScript not enabled.</noscript>
    </div>
  </body>
</html>
